@import 'bulma/sass/utilities/derived-variables.sass';

.searchContainer {
  z-index: 2;
  display: flex;
  flex-direction: row;
  min-height: inherit;
  flex-grow: 1;
  margin: 0.5em 0 0 0.2em;
  @media screen and (min-width: $tablet) { 
    margin: .75em 0 0 .75em;
  }
  @media screen and (min-width: $desktop) { 
    margin: 1em 0 0 1em;
  }
  @media screen and (min-width: $widescreen) { 
    margin: 1.25em 0 0 1.25em;
  }
}

.icon {
  font-size: inherit;
  align-self: center;
  margin: .15em .2em;
  align-self: flex-start;
}

.inputContainer {
  text-align: left;
  flex-direction: column;
  display: flex;
  min-height: inherit;
  margin-bottom: 2em;
}
.input {
  font-size: inherit;
  width: calc(100% - 1em);
}

.searchIncResultList {
  z-index: 2;
  background-color: white;
  opacity: 85%;
  color: black;
  overflow-y: scroll;
  flex: 1 0 20px;
  width: calc(100% - 1em);
}

.searchIncResult {
  font-size: 60%;
  cursor: pointer;
  transition: background-color .5s;
}

.searchIncResult:focus-visible {
  outline: none;
}

.searchIncResultHl {
  background-color: $info-dark;
  color: white;
  transition: background-color .5s;
}

.searchIncResultWarn {
  background-color: $warning;
}