@import './initial-variables';

.leadIn {
  flex: 0 0;
  display: block;
  white-space: nowrap;
  margin-right: 0.5em;
}

.crumbs {
  flex: 2 0;

  & *:last-of-type {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    & *:last-of-type {
      display: unset;
    }
  }
}

.crumb {
  font-size: 0.9em;
  text-decoration: underline;
}

.separator {
  margin: 0 0.25em;
}