@import 'initial-variables';

.container {
  background-color: $white-ter;
  font-size: 0.85rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.hidden {
  display: none;
}

.list {
  margin: 0 1em;
  width: fit-content;
  display: flex;
  flex-flow: row wrap;
}

.listitem {
  width: 5ch;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cb {
  cursor: inherit;
}

.footer {
  margin-top: 1em;
}