@import 'initial-variables.sass';

.container {
  background-color: white;
  min-width: 12em;
  display: flex;
  flex-direction: column;
  font-size: larger;
  align-items: center
}

.row {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.abbrev {
  min-width: 2ch;
  text-align: center;
}

.cb {
  min-width: 2ch;
  font-size: unset;
}

.message {
  text-align: center;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  margin-top: 1em;
  text-align: center;
  font-size: small;
  min-height: 4em;
}