@import 'initial-variables';

.resultItem {
  display: block;
  @media screen and (min-width: $tablet) {
    display: block;
    flex: 1;
    width: 20vw;
  }
}

.resultItem a {
  display: block;
}

.videoIcon {
  display: inline-block;
  position: relative;
  left: -120px;
  top: -90px;
}

.videoIconLayer {
  position: absolute;
}