@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/derived-variables.sass';

.blockType {
  font-variant: small-caps;
  background-color: $grey-lighter;
  border-bottom: solid 2px $yellow;
  padding-left: 0ex;
}

.blockHeader {
  margin-bottom: 0px !important;
}

.blockHeaderTitle {
  line-height: normal;
}

.blockHeaderDate {
  line-height: 2.4em;
}

.blockHeader.blockHeaderArt {
  display: flex;
  justify-content: space-between;
}

.resultHeaderIcon {
  line-height: inherit;
  margin-top: 0.6ex;
  align-self: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

.resultBlockLoadingIcon {
  width: 60% !important;
  height: 60%;
  margin: 20%;
  color: $grey-lighter; 
}

.resultItem {
  cursor:pointer;
  clear: both;
}

// Good use case for Sass (ie. concat 'Alt' and avoid duplication
.resultItemAlt {
  // taken from bulma...initial-variables.sass
  // inbetween $grey-lighter and $grey-lightest
  background-color: hsl(0, 0%, 91%);
  cursor:pointer;
  clear: both;
}


.resultItemHl {
  background-color: $yellow;
}

div .rgpop {
  max-height: 34vh;
  overflow-y: scroll;
  border-top: solid thin lightblue;
}

span.releaseTitle {
  overflow-x: hidden;
  /* white-space: nowrap; */
}

span.releaseDate {
  font-size: small;
  margin-left: 2ex;
  float: right;
}

span.trackTitle {
  overflow-x: hidden;
  /* white-space: nowrap; */
}

span.trackLength {
  font-family: monospace;
  font-stretch: condensed;
  font-size: small;
  margin-left: 2ex;
  float: right;
}

.resultHeaderImage {
  object-fit: contain;
}

.smallCoverArtLoading {
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.smallCoverArtHidden {
  display:none;
}

.largeCoverArtLoading {
  display: block; 
  overflow: hidden;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  margin: 0px;
}

.largeCoverArt {
  padding: 50px !important;
  z-index: 2;
}

.largeCoverArtHidden {
  visibility: hidden;
}