@import './initial-variables.sass';

.resultItemList {
  display:inline-grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display:inline-flex;
  }
}